{{#if @site.navigation}}
<ul class='nav'>
    <li class='nav-home nav-current'>
        <div class='dropdown'>
            <div class='dropbtn'>
                <a class='menu-button' href='/'><span class='word'>Trang chủ</span></a>
            </div>
            <div class='dropdown-content'>
                <div class='sub-content'>
                    <a href='#' class='sub-content__text'>Giới thiệu</a>
                </div>

                <div>
                    <a href='#' class='sub-content__text'>Dịch vụ/Sản phẩm</a>
                </div>

                <div>
                    <a href='#' class='sub-content__text'>Tin tức sự kiện</a>
                </div>

                <div>
                    <a href='#' class='sub-content__text'>Cơ hội nghề nghiệp</a>
                </div>

                <div>
                    <a href='#' class='sub-content__text'>Đối tác</a>
                </div>

                <div>
                    <a href='#' class='sub-content__text'>Liên hệ</a>
                </div>
            </div>
        </div>
    </li>
    <li class='nav-about'>
        <div class='dropdown'>
            <div class='dropbtn'>
                <a class='menu-button' href='/'><span class='word'>Về công ty</span></a>
            </div>
            <div class='dropdown-content'>
                <div class='sub-content'>
                    <a href='#' class='sub-content__text'>Ban điều hành</a>
                </div>

                <div>
                    <a href='#' class='sub-content__text'>Cổ đông</a>
                </div>

                <div>
                    <a href='#' class='sub-content__text'>Văn hóa doanh nghiệp</a>
                </div>
            </div>
        </div>
    </li>
    <li class='nav-news'>
        <div class='dropdown'>
            <div class='dropbtn'>
                <a class='menu-button' href='/'><span class='word'>Tin tức</span></a>
            </div>
            <div class='dropdown-content'>
                <div class='sub-content'>
                    <a href='#' class='sub-content__text'>Tin tức sự kiện</a>
                </div>

                <div>
                    <a href='#' class='sub-content__text'>Hoạt động nội bộ</a>
                </div>

                <div>
                    <a href='#' class='sub-content__text'>Tin tức</a>
                </div>
            </div>
        </div>
    </li>
    <li class='nav-products'>
        <div class='dropdown'>
            <div class='dropbtn'>
                <a class='menu-button' href='/'><span class='word'>Sản phẩm</span></a>
            </div>
            <div class='dropdown-content'>
                <div class='sub-content'>
                    <a href='/tag/game' class='sub-content__text'>Trò chơi trực tuyến</a>
                </div>

                <div>
                    <a href='#' class='sub-content__text'>Cổng thanh toán</a>
                </div>

                <div>
                    <a href='#' class='sub-content__text'>Số hóa</a>
                </div>

                <div>
                    <a href='#' class='sub-content__text'>Tài chính</a>
                </div>
            </div>
        </div>
    </li>
    <li class='nav-parters'>
        <div>
            <a class='menu-button' href='/about'><span class='word'>Đối tác</span></a>
        </div>
    </li>
    <li class='nav-recruiment'>
        <a class='menu-button' href='/about'><span class='word'>Tuyển dụng</span></a>
    </li>
    <li class='nav-contact'>
        <a class='menu-button' href='/about'><span class='word'>Liên hệ</span></a>
    </li>
</ul>
{{/if}}
